root = true

[*.{kt,kts}]
ktlint_code_style = ktlint_official
ktlint_experimental = disabled
ktlint_standard_no-empty-first-line-in-class-body = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_multiline-expression-wrapping = disabled
max_line_length = off